/* <div> overflow fix ******************/
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#ge-wrapper {
	margin: 32px;
}
h1, h2, h3, h4 {
	color: #d40000; /* red */
}
.ge-link a:link, .ge-link a:visited {
	text-decoration: none;
	color: #d40000; /* red */
}
.ge-link a:hover {
	color: #000; /* black */;
}
#ge-search-form-container {
	display: inline-block;
	width: 100%;
}
#ge-search-form {
	width: 75%;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
.ge-query-box {
	display: inline-block;
	width: 37%;
}
.ge-submit-box {
	display: inline-block;
	width: 24%;
}
#ge-search-button {
	width: 100%;
	padding: 15px 30px;
	color: #fff;
	border: 1px solid #d40000; /* red */
	background-color: #d40000; /* red */
  cursor: pointer;
}

table#ge-allCourse {
	width: 100%;
}
table, th, td {
	border: none!important;
}
table#ge-allCourse tr:nth-child(odd) {
	background-color: #eee; /* lightgrey */
}
table#ge-allCourse tr:nth-child(even) {
	background-color: #fff; /* white */
}
table#ge-allCourse th {
	color: white;
	background-color: #d40000; /* red */
}
th {
	height: 50px;
	font-size: 14pt;
}
td {
	font-size: 12pt;
}
td.center {
	text-align: center;
}
td.ge-img {
	width: 135px;
}

.ge-imgLogo {
	height: 50px;
	border: none!important;
}
.ge-blue {
	color: #0065bd; /* blue */
}
.ge-red {
	color: #d40000; /* red */
}

@media only screen and (max-width: 840px) {

	#ge-wrapper {
		margin: 10px;
	}
	#ge-search-form {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {

	.ge-submit-box {
		width: 24%;
	}
}

@media only screen and (max-width: 480px) {

	h2 {
		font-size: 20pt;
	}
	.ge-query-box, .ge-submit-box {
		display: block;
		width: 100%;
	}
	#ge-search-button {
		margin-top: 5px;
	}
	th {
		height: 50px;
		font-size: 8pt;
	}
	td {
		font-size: 8pt;
	}
	th.ge-switch, td.ge-switch {
		display: none;
	}
}
